.side-bar{
    /* position: absolute; */
    background-color: #222f3e;
    color: #ffffff;
    /* top: 0;
    left: 0; */
    height: 100%;
    transition: all 0.4s;
    text-decoration: none;
}

.side-bar li{
    list-style: none;
    padding: 1rem 2rem;
    border-bottom: solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.side-bar li:hover{
    background: #ffffff;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.sidebar--open{
    transform: translateX(0%);
}

.sidebar-items{
    padding-top: 63px;
    text-decoration: none;
}
.sidebar--links{
        text-decoration: none;


}

